.idea/
.vscode/

__pycache__/
venv/
dist/
build/
eggs/
parts/
sdist/
var/

*storage/
*.md/
*.tests/
*.memory
# *.config/
*frames/
*experimental/

*.mp4
*copy*
*.pkl
*.mnc.json

*.pyc
*.pyo
*.pyd
*.db
*.log
*.bak
*.swp
*.tmp
*.egg
*.egg-info/
*.lock
*.zip