
--extra-index-url https://download.pytorch.org/whl/cu130

cuda-python
cuda-toolkit
numba
numba-cuda[cu13]
numpy
# cupy
cupy-cuda13x
matplotlib
colorama
tensorboard

torch

gymnasium
pygame

# git+https://github.com/KshRaven/PyTorch-Models.git